@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
/* 
.css-1c6j008 {
  outline: none;
} */

.inputID {
  outline: none !important;
}

.passwordfield .css-uf873o[aria-invalid='true'],
.css-uf873o[data-invalid] {
  border-color: greenyellow !important;
  box-shadow: greenyellow !important;
}
