@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  --color-purple-400: #a78bfa;
  --color-purple-500: #7c3aed;
  --color-purple-600: #8b5cf6;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-pri: #553ffb;

  --color-blue-pri: #477dfb;
  --color-blue-100: #477dfbe8;
  --color-blue-400: #477dfbde;
  --color-blue-500: #386de9ec;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;

  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-sec: #ff4127;

  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #91e5be;
  --color-green-700: #38c985c7;
  --color-green-800: #38c985d7;
  --color-green-900: #38c98585;
  --color-green-910: #38c985;
  --color-green-sec: #9bfad2;

  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;

  --color-white: #ffffff;
  --color-black-100: #000000;
  --color-black-blc: #040a1d;
  --color-black-gray1: #040a1d;
  --color-black-gray2: #8892a2;
  --color-black-lines: #e3e7ed;
  --color-black-backgrd: #f4f5f7;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
